@import-normalize;

:root {
  --color-white: #ffffff;
  --color-black: #010101;
  --color-green: #4caf50;
  --color-red: #f44336;
  --color-blue: #2196f3;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary-text);
  line-height: 1.5;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
